//
// Color & Typography
//
html {
  font-family: $font_family_system;
  font-size: $font_size_default;
}

body {
  background: $color_bg_page;
  color: $color_text_default;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

//
// Links
//
a {
  color: $color_text_link;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color_text_link_hover;
    text-decoration: underline;
  }
}

//
// Headings
//
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color_text_header;
  line-height: 1.1;
  margin: 0 0 0.5em;

  small {
    color: $color_text_muted;
    font-size: 0.591em;
    font-weight: normal;
  }
}

h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  font-size: 1.714em;
}

h2 {
  font-size: 1.571em;
}

h3 {
  font-size: 1.429em;
}
