//
// Card Component
//
.card {
  background: white;
  border: 1px solid $color_border_default;
  border-radius: $border_radius_default;
  position: relative;
}

.card__title {
  border-bottom: 1px solid $color_border_light;
  padding: $spacing_default * 2;

  > * {
    margin: 0;
  }
}

.card__image {
  padding-top: 144px;
}

.card__image-media {
  border-top-left-radius: $border_radius_default;
  border-top-right-radius: $border_radius_default;
  left: -1px;
  position: absolute;
  top: -1px;
}

.card__body {
  padding: $spacing_default * 2;
}

.card__body,
.card__body--no-padding {

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.card__footer {
  background: $color_bg_page;
  border-bottom-left-radius: $border_radius_default;
  border-bottom-right-radius: $border_radius_default;
  border-top: 1px solid $color_border_light;
  padding: $spacing_default * 1.5 $spacing_default * 2;

  > * {
    margin: 0;
  }
}
