//
// Card Component
//
.card {
  background: white;
  border: 1px solid $color_border_default;
  border-radius: $border_radius_default;
  padding: $spacing_default * 2;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
