//
// Form Styles
//
input,
textarea,
select {
  border: 1px solid $color_border_default;
  border-radius: $border_radius_default / 2;
  font-size: 16px; // prevent iOS from zooming form controls
  width: 100%;

  &::placeholder {
    color: $color_text_muted;
  }

  &:focus {
    border-color: $color_primary;
    outline: 0;
  }
}

button {
  cursor: pointer;
}

label {
  color: $color_text_header;
  display: block;
  font-weight: 500;
  margin-bottom: 0.5em;
}

//
// Default Button Styles
//
.btn {
  @include reset_button();
  align-items: center;
  background: $color_primary;
  border-radius: 1.125em;
  color: white;
  display: flex;
  font-weight: 600;
  height: 2.25em;
  line-height: 1;
  padding: 0 1em;
  transition: background $duration_default $transition_default;

  &:hover,
  &:focus,
  .is-active & {
    background: $color_primary_dark;
  }

  &:focus {
    box-shadow: 0 0 0 0.2em rgba($color_primary, 0.5);
    outline: 0;
  }
}

.btn__icon + .btn__text {
  margin-left: 0.5em;
}

.btn__count {
  font-size: 0.8em;
}

//
// Icon-Only Buttons
//
.btn--icon-only {
  justify-content: center;
  padding: 0;
  width: 2.25em;
}

//
// Button Variants
//
.btn--muted,
.btn--retweet,
.btn--fave {
  background: none;
  color: $color_text_muted;
  padding: 0 0.5em;

  &:hover,
  &:focus,
  .is-active & {
    background: none;
    color: $color_text_link_hover;
  }
}

//
// Button for Retweet Action
//
.btn--retweet {

  .btn__icon {
    font-size: 1.1em;
  }

  &.is-active {
    color: $color_text_retweet;
  }
}

//
// Button for Favorite Action
//
.btn--fave {

  &.is-active {
    color: $color_text_favorite;
  }
}

//
// Button that looks like linked text
//
.btn--link {
  background: none;
  border-radius: 0;
  color: $color_text_link;
  font-size: inherit;
  height: auto;
  padding: 0;
  text-decoration: none;

  &:hover,
  &:focus {
    background: none;
    color: $color_text_link_hover;
    text-decoration: underline;
  }
}
