//
// App Header Component
//
.app-header {
  align-items: center;
  background: $color_primary;
  color: $color_primary_light;
  display: flex;
  height: $height_header;
  justify-content: space-between;
  padding: 0 $spacing_default;
  position: relative;

  > * {
    margin: 0;
  }
}

.app-header__logo {
  color: white;
  font-size: 1.75em;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);

  a {
    color: white;
    display: flex;
    height: $height_header;

    &:hover,
    &:focus {
      color: $color_primary_light;
    }

    &:focus {
      outline: 0;
    }

    > * {
      margin: auto;
    }
  }
}

.app-header__search {
  align-items: center;
  display: flex;
  height: $height_header;
  padding: 0 $spacing_default * 2;

  @media only screen and (max-width: #{$screen_large - 1}) {
    display: none;

    &.is-active {
      display: flex;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
    }
  }
}

.app-header__nav {
  display: flex;
}

.app-header__nav-list {
  @include reset_list();
  display: flex;
}

//
// Nav Item (button)
//
.app-header__nav-item {
  @include reset_button();
  align-items: center;
  color: $color_primary_light;
  display: flex;
  font-size: 13px;
  font-weight: 600;
  height: $height_header;
  padding: 0 $spacing_default;

  @media only screen and (min-width: $screen_x_large) {
    padding: 0 $spacing_default * 2;
  }

  &:hover,
  &:focus,
  .is-active & {
    color: white;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}

.app-header__nav-item-icon {
  font-size: 1.5em;

  @media only screen and (min-width: $screen_x_small) {
    font-size: 1.75em;
  }
}

.app-header__nav-item-text {
  display: none;
  margin-left: 0.5em;

  @media only screen and (min-width: $screen_x_large) {
    display: block;
  }
}
