//
// App Header Component
//
.app-header {
  align-items: center;
  background: $color_primary;
  color: $color_primary_light;
  display: flex;
  font-size: 0.929em;
  height: $height_header;
  justify-content: space-between;
  padding: 0 $spacing_default;
  position: relative;

  > * {
    margin: 0;
  }
}

.app-header__logo {
  color: white;
  font-size: $size_icon_header_lg;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);

  a {
    color: white;
    display: flex;
    height: $height_header;

    &:hover,
    &:focus {
      color: $color_primary_light;
    }

    &:focus {
      outline: 0;
    }

    > * {
      margin: auto;
    }
  }
}

.app-header__search {
  align-items: center;
  display: flex;
  height: $height_header;
  padding: 0 $spacing_default 0 $spacing_default * 2;

  @media only screen and (max-width: #{$screen_large - 1}) {
    display: none;

    &.is-active {
      display: flex;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
    }
  }
}

.app-header__nav {
  display: flex;
}

.app-header__nav-list {
  @include reset_list();
  display: flex;
}

//
// Nav Item (button)
//
// inherits from .btn
//
.app-header__nav-item {
  background: none;
  border-radius: 0;
  color: $color_primary_light;
  font-size: 1em;
  font-weight: 600;
  height: $height_header;
  padding: 0 $spacing_default;
  transition: color $duration_default $transition_default;

  @media only screen and (min-width: $screen_x_large) {
    padding: 0 $spacing_default * 2;
  }

  &:hover,
  &:focus,
  .is-active & {
    background: none;
    color: white;
  }

  &:focus {
    box-shadow: none;
  }

  &.btn--icon-only {
    padding: 0 $spacing_default;
    width: auto;

    @media only screen and (min-width: $screen_x_large) {
      padding: 0 $spacing_default * 2;
    }
  }

  .btn__icon {
    font-size: $size_icon_header_sm;

    @media only screen and (min-width: $screen_x_small) {
      font-size: $size_icon_header;
    }
  }

  .btn__text {
    display: none;

    @media only screen and (min-width: $screen_x_large) {
      display: block;
    }
  }
}
