//
// Mixins
//

//
// Clear Native List Styling
//
@mixin reset_list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

//
// Clear Native Button Styling
//
@mixin reset_button() {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  font-size: inherit;
  padding: 0;
}
