//
// Modal Component
//
.modal {
  background: rgba(white, 0.9);
  bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.modal_contents {
  background: white;
  margin: auto;
  max-width: 90vw;
  min-width: 50vw;
  position: relative;
}

.modal__close {
  position: absolute;
  right: $spacing_default;
  top: $spacing_default;
}
