//
// Modal Component
//
.modal {
  background: rgba(white, 0.9);
  bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.modal_contents {
  background: white;
  margin: auto;
  position: relative;
  width: 95vw;

  @media only screen and (min-width: $screen_large) {
    width: 50vw;
  }
}

.modal__close {
  position: absolute;
  right: $spacing_default;
  top: $spacing_default;
}
