//
// Tweet Composer Component
//
.new-tweet__input {
  line-height: 1.2;
  padding: $spacing_default;
  resize: none;
}

.new-tweet__actions {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-top: 0.25em;
}

.new-tweet__remaining {
  color: $color_text_muted;
  font-size: 0.8em;
  margin: 0;
}
