//
// Search Component
//
.search {
  position: relative;
  width: 100%;
}

.search__input {
  appearance: none;
  background: $color_primary_dark;
  border: 0;
  border-radius: $height_search / 2;
  color: white;
  display: block;
  font-weight: 500;
  height: $height_search;
  padding: 0 1em;
  width: 100%;

  &:focus {
    outline: 0;
  }

  &::placeholder {
    color: white;
  }

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.search__submit {
  background: none;
  font-size: 1em;
  height: $height_search;
  padding: 0;
  position: absolute;
  right: 0.25em;
  top: 0;
  transition: color $duration_default $transition_default;
  width: $height_search;

  &:hover,
  &:focus,
  .is-active & {
    background: none;
    color: $color_primary_light;
  }

  &:focus {
    box-shadow: none;
  }
}
