//
// Tweet Component
//
.tweet {
  padding: $spacing_default * 2;
  padding-bottom: $spacing_default;
  padding-left: $size_tweet_avatar + $spacing_default * 4;
  position: relative;

  + .tweet {
    border-top: 1px solid $color_border_light;
  }

  figure {
    margin: 0;

    img {
      height: auto;
      max-width: 100%;
    }
  }
}

.tweet__avatar {
  left: $spacing_default * 2;
  position: absolute;
  top: $spacing_default * 2;
}

.tweet__avatar-media {
  border-radius: $border_radius_default;
}

.tweet__header {
  display: flex;
  justify-content: space-between;
  line-height: 1;
  margin-bottom: 0.15em;
}

.tweet__text {
  line-height: 1.3;
  margin: 0;
}

.tweet__actions {
  display: flex;
  left: -0.5em; // align button contents with text
  position: relative;

  > * + * {
    margin-left: 0.5em;
  }
}

.tweet__more {
  position: relative;
}

.tweet__more-dropdown {
  @include reset_list();
  background: white;
  border: 1px solid $color_border_default;
  border-radius: $border_radius_default / 2;
  box-shadow: 0 1px 4px rgba(black, 0.25);
  display: none;
  left: 0.25em;
  line-height: 1;
  min-width: 200px;
  overflow: hidden;
  position: absolute;
  top: calc(100% - 0.25em);
  z-index: 1;

  :focus + & {
    display: block;
  }
}

.tweet__more-item a {
  color: $color_text_default;
  display: block;
  padding: 0.5em 0.75em;

  &:hover,
  &:focus {
    background: $color_primary;
    color: white;
    text-decoration: none;
  }
}

//
// Retweeted Modifier
//
.tweet--retweet {
  background: #ffeeee;
}

//
// Threaded Modifier
//
.tweet--thread {
  border-left: 4px solid pink;

  &.is-collapsed {
    background: pink;
  }
}

.tweet--thread-start {
  border-top: 4px solid pink;
}

.tweet--thread-end {
  border-bottom: 4px solid pink;
}
