//
// Tweet Component
//
.tweet {
  padding: $spacing_default * 2;
  padding-bottom: $spacing_default;
  padding-left: $size_tweet_avatar + $spacing_default * 4;
  position: relative;

  + .tweet {
    border-top: 1px solid $color_border_light;
  }
}

.tweet__avatar {
  left: $spacing_default * 2;
  position: absolute;
  top: $spacing_default * 2;
}

.tweet__avatar-media {
  border-radius: $border_radius_default;
}

.tweet__header {
  display: flex;
  justify-content: space-between;
  line-height: 1;
  margin-bottom: 0.15em;
}

.tweet__user-link {
  color: $color_text_default;

  &:hover,
  &:focus {
    color: $color_text_default;
    text-decoration: none;
  }

  > * {

    &:hover {
      color: $color_text_link;
      text-decoration: underline;
    }
  }
}

.tweet__user-name {
  font-size: 1em;
}

.tweet__user-screen-name {
  color: $color_text_muted;
  font-size: 0.857em;
}

.tweet__timestamp-link {
  color: $color_text_muted;

  &:hover,
  &:focus {
    color: $color_text_link;
  }
}

.tweet__timestamp {
  font-size: 0.929em;
}

.tweet__text {
  font-size: 0.929em;
  line-height: 1.35;
  margin: 0;
}

.tweet__photo {
  margin: 1em 0 0;
}

.tweet__photo-media {
  border-radius: $border_radius_default;
  height: auto;
  max-width: 100%;
}

.tweet__actions {
  display: flex;
  left: -0.5em; // align button contents with text
  margin-top: 0.25em;
  position: relative;

  > * + * {
    margin-left: 0.5em;
  }
}

.tweet__more {
  position: relative;
}

.tweet__more-dropdown {
  @include reset_list();
  background: white;
  border: 1px solid $color_border_default;
  border-radius: $border_radius_default / 2;
  box-shadow: 0 1px 4px rgba(black, 0.25);
  display: none;
  left: 0.25em;
  line-height: 1;
  min-width: 200px;
  overflow: hidden;
  position: absolute;
  top: calc(100% - 0.25em);
  z-index: 1;

  :focus + & {
    display: block;
  }
}

.tweet__more-item a {
  color: $color_text_default;
  display: block;
  padding: 0.5em 0.75em;

  &:hover,
  &:focus {
    background: $color_primary;
    color: white;
    text-decoration: none;
  }
}

//
// Retweeted Modifier
//
.tweet--retweet {
  padding-top: $spacing_default * 1.25;

  .tweet__avatar {
    top: calc(#{$spacing_default * 1.25} + 1.75em);
  }
}

.tweet__retweet-info {
  align-items: center;
  display: flex;
  margin-bottom: 0.5em;
  margin-left: -1.5em;
}

.tweet__retweet-icon {
  color: $color_text_retweet;
  font-size: 1.1em;
  margin-right: 0.33em;
}

.tweet__retweet-by {
  color: $color_text_muted;
  font-size: 0.857em;
}

//
// Threaded Modifier
//
.tweet--thread {
  border-left: 4px solid pink;

  &.is-collapsed {
    background: pink;
  }
}

.tweet--thread-start {
  border-top: 4px solid pink;
}

.tweet--thread-end {
  border-bottom: 4px solid pink;
}
