//
// Variables
// stylelint-disable scss/dollar-variable-colon-space-after
//

//
// Colors
//

// Material Greys
$gray_050: #fafafa; // nearly white
$gray_100: #f5f5f5;
$gray_200: #eeeeee;
$gray_300: #e0e0e0;
$gray_400: #bdbdbd;
$gray_500: #9e9e9e; // primary grey
$gray_600: #757575;
$gray_700: #616161;
$gray_800: #424242;
$gray_900: #212121; // nearly black

// Brand Colors
$color_primary_dark:  #4592c6;
$color_primary:       #64b6ee;
$color_primary_light: #cce6f9;

// background colors
$color_bg_page: $gray_050;

// border colors
$color_border_default: $gray_200;

// text colors
$color_text_default:    $gray_800;
$color_text_link:       $color_primary;
$color_text_link_hover: $color_primary;
$color_text_muted:      $gray_600;

//
// Typography
//
// stylelint-disable value-keyword-case
$font_family_system:
  -apple-system, BlinkMacSystemFont, "Segoe UI", roboto, oxygen,
  ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
// stylelint-enable value-keyword-case
$font_size_default: 16px;

//
// Common Measurements
//
// These are measurements that are used throughout the site and should be
// consistant, even across components. Things like padding, gutters, etc.
//
$height_header:   45px;
$height_search:   32px;
$spacing_default: 7px;

//
// Sizes
//
$width_sidebar: 290px;
$width_main:    590px;

//
// Borders
//
$border_radius_default: 0.25em;

//
// Breakpoints
//
$screen_xx_small:  320px;
$screen_x_small:   360px;
$screen_small:     480px;
$screen_medium:    640px;
$screen_large:     768px;
$screen_x_large:   960px;
$screen_xx_large:  1160px;
$screen_xxx_large: 1440px;

// stylelint-enable scss/dollar-variable-colon-space-after
