//
// Header
//
.app-header {
  align-items: center;
  background: $color_primary;
  color: white;
  display: flex;
  height: 45px;
  justify-content: space-between;
  padding: 0 $spacing_default;

  > * {
    margin: 0;
  }
}

.app-header__logo {
  color: white;
  display: flex;
  font-size: 1.5em;
  height: 45px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);

  > * {
    margin: auto;
  }

  a {
    color: white;

    &:hover,
    &:focus {
      color: $color_primary_light;
    }

    &:focus {
      outline: 0;
    }
  }
}

.app-header__nav {
  display: flex;
}

.app-header__nav-list {
  @include reset_list();
  display: flex;
}

.app-header__nav-item {
  @include reset_button();
  align-items: center;
  color: $color_primary_light;
  display: flex;
  font-size: 13px;
  font-weight: 600;
  height: 45px;
  padding: 0 $spacing_default;

  @media only screen and (min-width: $screen_x_large) {
    padding: 0 $spacing_default * 2;
  }

  &:hover,
  &:focus,
  .is-active & {
    color: white;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}

.app-header__nav-item-icon {
  font-size: 1.5em;

  @media only screen and (min-width: $screen_x_small) {
    font-size: 1.75em;
  }
}

.app-header__nav-item-text {
  display: none;
  margin-left: 0.5em;

  @media only screen and (min-width: $screen_x_large) {
    display: block;
  }
}

.app-header__util {
  display: flex;
}

.app-header__search {
  align-items: center;
  display: flex;
  height: 45px;
  padding: 0 $spacing_default * 2;
}
